html,
body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.homePageContainer{
  background-color: black;
  
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.section {
  display: flex;
  position: relative;
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
h1 {

  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 7rem;
  font-family: "Expletus Sans", cursive;
  padding: 2px;
  margin: 15px;
  z-index: 1;
}
.video-container {
  position: absolute;
  left: 0;
  width: 100%;
}
.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightskyblue;
  width: 100%;
  height: 100vh;
  opacity: 0.1;
}

ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: baseline;
  z-index: 1;
}

img {
  align-items: center;
  width: 350px;
  height: 225px;
  object-fit: cover;
  background-color: black; 
}

.products {
  display: flex;
  flex-direction: column;
}
.fairFood {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 5px 8px 0 rgba(240, 240, 240, 0.2);
  max-width: 350px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  margin: 20px;
}
.category{
  display: flex;
  justify-content: center;
}
.push-off-screen {
  position: absolute;
  left: -1000px;
}
.product-name ,.product-category,.product-description {
  border-bottom-style: outset;
  border-color:white;
  color: white;
  opacity: 80%;
}
.addToCart {
  position: relative;
  margin: 10px;
  padding: 20px 20px;
  color: #fff;
  background-color: rgb(121, 34, 34);
  font-size:14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
}

#allFoodBtn, #vegBtn, #nonVegBtn{
   position: relative;
    margin: 30px;
    padding: 14px 15px;
    color: #fff;
    background-color: rgb(121, 34, 34);;
    font-size:14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.customerOrder {
display: flex;
justify-content: center;
}

.payment{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.billing{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.checkout{
  position: relative;
  margin: 30px;
  padding: 14px 15px;
  color: #fff;
  background-color: rgb(121, 34, 34);;
  font-size:14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
}
#cashOut{
  position: relative;
  margin: 30px;
  padding: 14px 15px;
  color: #fff;
  background-color: rgb(121, 34, 34);
  font-size:14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
}
.removeFromCart{
  position: relative;
  margin: 10px;
  padding: 5px 5px;
  color: #fff;
  background-color: rgb(121, 34, 34);
  font-size:14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
}

input[type=text] {
   justify-content: center;
  width: 20%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid white;
  border-radius: 3px;
}
.payment{
  display: flex;
}
#cashPayment, #receipt, #reciept, #choosePaymentType{
 color:white;
}
.cartPayment{
  color:white;
}
#cardInfo {
  color: white;
  margin:30px;
}
#cashForm{
  margin:30px;
}
 #cartArray, #total, #change{
   color: white;
   margin: 25px;
   font-size: 20px;
 }
 #customerOrder{
   display: flex;
   flex-direction: column;
  align-items: center;
  justify-content: center;
   color: white;
   background: rgba(121, 34, 34, 0.37); 
 }
 .payment{
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .receipt{
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
